<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="e.ricardo.myapplication">

    <application>
        <activity android:name=".ListViewPlaces" />
        <activity android:name=".ListView"></activity>
    </application>

</manifest>